<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <li>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <img class="rounded-circle" width="48" height="48" src="/img/logo.jpg" alt="Kapkatet Logo"/>
            </div>
            <div style="text-overflow: ellipsis; white-space: nowrap, overflow: hidden;"
                 class="text-white sidebar-brand-text mx-3">{{ title }}
            </div>
        </a>
    </li>

    <!-- Divider -->
    <li>
        <hr class="sidebar-divider my-0"/>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"> </i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <li>
        <hr class="sidebar-divider"/>
    </li>

    <!-- Heading -->
    <li>
        <div class="sidebar-heading">Resources Management</div>
    </li>

    <!-- Nav Item - Users Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-users"
           aria-controls="collapse-users">
            <i class="fas fa-fw fa-users"> </i>
            <span>Users</span>
        </a>
        <div id="collapse-users" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">User Management</h6>
                <a class="collapse-item" href="/admin/users">Browse Users</a>
                <a class="collapse-item" href="/admin/users/create">Add Users</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Centers Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-centers"
           aria-controls="collapse-centers">
            <i class="fas fa-fw fa-list"> </i>
            <span>Collecting Centers</span>
        </a>
        <div id="collapse-centers" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Centers Management</h6>
                <a class="collapse-item" href="/admin/centers">Browse Centers</a>
                <a class="collapse-item" href="/admin/centers/create">Add Centers</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Roles Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-roles"
           aria-controls="collapse-roles">
            <i class="fas fa-fw fa-users"> </i>
            <span>Clerks</span>
        </a>
        <div id="collapse-roles" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Collection Clerks</h6>
                <a class="collapse-item" href="/admin/clerks">Browse Clerks</a>
                <a class="collapse-item" href="/admin/users/create">Add Clerk</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <li>
        <hr class="sidebar-divider"/>
    </li>

    <!-- Heading -->
    <li>
        <div class="sidebar-heading">Utility Managements</div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-fw fa-directions"> </i><span>Clerks Routes</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-fw fa-file-alt"> </i><span>Factory Records</span></a>
    </li>
</ul>